name: Docker Image Build and Push

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/actions/build-and-push/action.yml'
      - '.github/workflows/build-and-push.yml'
      - 'Dockerfile'
      - 'environment.yml'
      - 'install.R'
      - 'apt.txt'

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Use reusable action
        uses: ./.github/actions/build-and-push
        with:
          image_dir: .
          image_name: container-images/py-rocket-template
          github_token: ${{ secrets.GITHUB_TOKEN }}
